
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: "concert-5099997_1920.jpg";
}

  .main {
    height: 100%;
    width: 100%;
    margin: 0px;

    align-items: center;
    justify-content: center;
  }

  .main-landing {
    height: 65vh;
    width: 100vh;
    margin-top: 10rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
  }
  .main-wrapper{
    
      height: 80%;
      width: 80%;
      min-height: 55rem;
      margin-top: 3rem;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      border-radius: 2rem;
      z-index: 2;
      backdrop-filter: blur(2rem);
    
  }



  .nav-wrapper{
    
    width: 84%;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  
}


  .event-wrapper{

    height: 80%;
    width: 80%;
    margin: 2rem auto;
    text-align: center;

  }

  h1{
    font-size: 5rem;
    font-family: 'Teko', sans-serif;
    background: -webkit-linear-gradient(rgb(230, 161, 240), rgb(250, 1, 63));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }