
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  width: 80%;
  display: flex;
  flex-direction: column;
  background: transparent;
  padding: 20px;
  border-radius: 5px;
}

li {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
  height: 5rem;
  width: 20%;
}

li:last-child {
  margin-bottom: 0px;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 20px;
}

.row {
  width: 100%;
  height: 8px;
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
  margin-top: 12px;
  height: 300px;
}

.Card-Image{
  width: 350px;
}



.Card{
  border: blueviolet solid 2px;
  height: 400px;
  width: fit-content;
  margin: 50px;
  
}